- name: Install oh-my-zsh
  block:
    - name: Clone oh-my-zsh repository
      git:
        repo: https://github.com/ohmyzsh/ohmyzsh.git
        dest: "{{ user_home }}/.oh-my-zsh"
        depth: 1
        update: yes
      register: oh_my_zsh_clone

    - name: Create .zshrc from template
      copy:
        src: "{{ user_home }}/.oh-my-zsh/templates/zshrc.zsh-template"
        dest: "{{ user_home }}/.zshrc"
        remote_src: yes
        force: no
  when: ansible_system == "Darwin"
  tags:
    - zsh
