- name: Detect Homebrew bash path (macOS)
  become: false
  set_fact:
    bash_shell: >-
      {{
        '/opt/homebrew/bin/bash'
        if ansible_system == 'Darwin' and ansible_architecture == 'arm64'
        else '/usr/local/bin/bash'
      }}
  when: ansible_system == "Darwin"
  tags: [shell]

- name: Set bash path (Linux)
  become: false
  set_fact:
    bash_shell: "{{ bash_shell_path_linux }}"
  when: ansible_system == "Linux"
  tags: [shell]

- name: Add Bash to allowed shells (macOS)
  become: true
  lineinfile:
    path: /etc/shells
    line: "{{ bash_shell }}"
    state: present
  when: ansible_system == "Darwin"
  tags: [shell]

- name: Set Bash as default shell
  become: true
  user:
    name: "{{ ansible_user_id }}"
    shell: "{{ bash_shell }}"
  when: set_bash_as_default_shell
  tags: [shell]

- name: Source managed shell config in .bashrc
  become: false
  blockinfile:
    path: "{{ user_home }}/.bashrc"
    create: true
    marker: "# {mark} ANSIBLE MANAGED SHELL CONFIG"
    block: |
      # Load managed shell config
      if [ -f "$HOME/.config/shell/common.sh" ]; then
        source "$HOME/.config/shell/common.sh"
      fi

      if [ -f "$HOME/.config/shell/bash.sh" ]; then
        source "$HOME/.config/shell/bash.sh"
      fi
  tags: [shell]

- name: Ensure .bash_profile loads .bashrc
  become: false
  blockinfile:
    path: "{{ user_home }}/.bash_profile"
    create: true
    marker: "# {mark} LOAD BASHRC"
    block: |
      if [ -f "$HOME/.bashrc" ]; then
        source "$HOME/.bashrc"
      fi
  tags: [shell]

- name: Stow shell config
  become: false
  command: stow shell
  args:
    chdir: "{{ dotfiles_dir }}"
  changed_when: false
  tags: [shell]

- name: Install oh-my-bash
  block:
    - name: Clone oh-my-bash repository
      git:
        repo: https://github.com/ohmybash/oh-my-bash.git
        dest: "{{ user_home }}/.oh-my-bash"
        depth: 1
        update: yes

    - name: Source oh-my-bash in .bashrc
      blockinfile:
        path: "{{ user_home }}/.bashrc"
        create: true
        marker: "# {mark} ANSIBLE MANAGED OH MY BASH"
        block: |
          # Path to your oh-my-bash installation.
          export OSH="{{ user_home }}/.oh-my-bash"

          # Set name of the theme to load.
          OSH_THEME="robbyrussell"

          # Load oh-my-bash
          if [ -f "$OSH/oh-my-bash.sh" ]; then
            source "$OSH/oh-my-bash.sh"
          fi
  when: >
    ansible_os_family == "Debian" or
    ansible_os_family == "Archlinux" or
    ansible_system == "Darwin"
  tags:
    - bash
    - oh-my-bash
