- name: Install required packages
  become: true
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
    state: present
    update_cache: yes

- name: Create keyrings directory
  become: true
  file:
    path: /usr/share/keyrings
    state: directory
    mode: '0755'

- name: Download and dearmor NodeSource repo key
  become: true
  shell: |
    curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key \
    | gpg --dearmor -o /usr/share/keyrings/nodesource.gpg
  args:
    creates: /usr/share/keyrings/nodesource.gpg

- name: Add NodeSource Node.js {{ nodejs_version }} repo
  become: true
  apt_repository:
    repo: >
      deb [signed-by=/usr/share/keyrings/nodesource.gpg]
      https://deb.nodesource.com/node_{{ nodejs_version }}.x
      nodistro
      main
    state: present
    filename: nodesource

- name: Install Node.js
  become: true
  apt:
    name: nodejs
    state: present
    update_cache: yes

